<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	  <script src="/javascripts/socket.io.js"></script>
    <script>
    var socket = io('//'+document.location.hostname+':3000');
    socket.on('fuck', function (data) {
        console.log(data);
    });
    </script>
  </body>
</html>
